.task-list1 {
    color: white;
    padding: auto;
}
.task-list2 {
    color: black;
    background-color: gray;
}
#meinDiv {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 75%;
    background-color: rgb(89, 95, 212);
    display: none;
}

.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 999;
}

.buttons {
    display: flex;
    gap: 10px;
}

