.task-list1 {
    color: white;
    padding: auto;
}
.task-list2 {
    
    padding: auto;
    color: black;
}

#meinDiv {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 75%;
    background-color: rgb(89, 95, 212);
    display: none;
}

.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 999;
}
.buttons {
    display: flex;
    gap: 10px;
}

.task-list1 {
    padding-top: 60px;
}

ul {
    padding-left: 10vh;
    padding-right: 10vh;
    margin: 0 auto; 
    list-style: none;
    max-width: 1000px; 
}

li {
    width: 100%;
    margin-top: 2vh;
    height: 10vh; 
    display: flex;
    flex-direction: column;
}

.listDiv1,
.listDiv2 {
    flex: 1; 
    display: flex;
    flex-direction: row;
    border: 1px solid black;
}

.listDiv1 strong {
    text-align: left;
    font-size: 3vh; 
    font-family: Arial, sans-serif;
    margin-left: 10px; 
    display: flex;
    align-items: center;
}

.listDiv1 button {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: flex-end;
    flex: none;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.buttonContainer {
    display: flex;
    align-items: center;
    margin-left: auto; 
    margin-right: 0;
    align-items: center;
}