<!DOCTYPE html>
<html>
<head>
    <title>API Anfrage</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/todoStyle.css') }}" />
</head>
<body>
    <div class="top-bar">
        <div>TODO Aufgaben heute</div>
        <div class="buttons">
            <button onclick="listReload()">Reload</button>
            <button id="toggleKnopf">Neue Aufgabe erstellen</button>
        </div>
    </div>
    <p id="response"></p>

    <ul id="taskList" class="task-list1">
        <!-- The tasks will be added dynamically using JavaScript -->
    </ul>
    <h1>----------------------------------------------------</h1>
    <ul id="taskListFertig" class="task-list2">
        <!-- The tasks will be added dynamically using JavaScript -->
    </ul>
    
    <div id="newElementDiv">
        <h2>Neue Aufgabe erstellen</h2>
        <label id="error"></label><br>
        <label for="title">Titel:</label>
        <input type="text" id="title" name="title" required><br><br>
        
        <label for="beschreibung">Beschreibung:</label>
        <textarea id="beschreibung" name="beschreibung" required></textarea><br><br>
        
        <label for="date">Datum:</label>
        <input type="date" id="date" name="date" required>
        <button type="button" onclick="datumHeute()">Heute</button>
        <button type="button" onclick="datumMorgen()">Morgen</button><br><br>
        
        <label for="color">Farbe:</label>
        <input type="color" id="color" name="color" value="#000000"><br><br>
        
        <label for="presetColors">Vorausgewählte Farben:</label>
        <select id="presetColors" name="presetColors" onchange="syncColor()">
            <option value="#FF0000">Rot</option>
            <option value="#00FF00">Grün</option>
            <option value="#0000FF">Blau</option>
            <option value="#FFFF00">Gelb</option>
            <option value="#FF00FF">Magenta</option>
            <option value="#00FFFF">Cyan</option>
        </select><br><br>
        <button onclick="auswaehlen()">Auswählen</button>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script> <!-- for websocket bib --> 
    <script src="/static/js/listenElementInit.js"></script> <!-- creates a new list element --> 
    <script src="/static/js/websocket.js"></script> <!-- websocket implementaion --> 
    <script src="/static/js/newTask.js"></script> <!-- creates a new Task --> 
    <script src="/static/js/ManageList.js"></script> <!-- Manages the list --> 
    <script>
        // on start
        var apiUrl = "{{ request.url_root }}";
        connectToSocket();
        alleAufgaben();
    </script>
</body>
</html>
